### Nuclear Trade Atlas Data 2017-2021

Looking at the Nuclear Nuclear Revealed Comparative Advantage (NRCA) by Country.

Data by the European Commission, Joint Research Centre

In [1]:
import pandas as pd
import json
from networkx import random_geometric_graph, set_node_attributes,betweenness_centrality
from pyvis.network import Network
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt

In [2]:
nuclear_com_df = pd.read_csv('data/NUCLEAR_COMMODITIES_RCA_DATA_2023.csv')
nuclear_trade_df = pd.read_csv('data/NUCLEAR_TRADE_ATLAS_DATA_2023.csv')
nuclear_total_df = pd.read_csv('data/TOTAL_TRADE_YEAR_2023.csv')

In [3]:
nuclear_com_df.head(5)

,FLOW,NUCLEAR COMMODITY DESCRIPTION,PERIOD,REPORTER,REPORTER ISO2,REPORTER ISO3,NRCA QUANTITY KG,NRCA VALUE USD,RCA QUANTITY KG,RCA VALUE USD
0,Export,Beryllium,12/31/2017,Andorra,AD,AND,-1.0,-1.0,0.0,0.0
1,Export,Beryllium,12/31/2017,United Arab Emirates,AE,ARE,-1.0,-1.0,0.0,0.0
2,Export,Beryllium,12/31/2017,Afghanistan,AF,AFG,-1.0,-1.0,0.0,0.0
3,Export,Beryllium,12/31/2017,Antigua and Barbuda,AG,ATG,-1.0,-1.0,0.0,0.0
4,Export,Beryllium,12/31/2017,Albania,AL,ALB,-1.0,-1.0,0.0,0.0

In [4]:
nuclear_com_df.REPORTER.value_counts()

Andorra              170
Mexico               170
Mozambique           170
Namibia              170
New Caledonia        170
                    ...
Greenland            170
Gambia               170
Guinea               170
Equatorial Guinea    170
Zimbabwe             170
Name: REPORTER, Length: 213, dtype: int64

In [5]:
nuclear_trade_df.head(5)

,COMMODITY CODE,COMMODITY DESCRIPTION,FLOW,NUCLEAR COMMODITY DESCRIPTION,PARTNER,PARTNER ISO2,PARTNER ISO3,PERIOD,REPORTER,REPORTER ISO2,REPORTER ISO3,QUANTITY KG,VALUE USD
0,2844.40,"Radioactive elements, isotopes and compounds, ...",Export,Radioactive elements and isotopes,Libya,LY,LBY,12/31/2017,Tunisia,TN,TUN,231,69653
1,8401.30,"Fuel elements ""cartridges"", non-irradiated, in...",Export,"Fuel elements, non-irradiated",Sudan,SD,SDN,12/31/2017,Egypt,EG,EGY,0,30
2,8101.99,"Articles of tungsten, n.e.s.",Export,Tungsten articles,Niger,NE,NER,12/31/2017,Algeria,DZ,DZA,90,164
3,8101.99,"Articles of tungsten, n.e.s.",Export,Tungsten articles,Ethiopia,ET,ETH,12/31/2017,Egypt,EG,EGY,1,32
4,2844.40,"Radioactive elements, isotopes and compounds, ...",Export,Radioactive elements and isotopes,Algeria,DZ,DZA,12/31/2017,South Africa,ZA,ZAF,10,53930

In [6]:
nuclear_trade_df.REPORTER.value_counts()

USA                         6186
Germany                     5239
Netherlands                 4469
China                       4144
United Kingdom              3750
                            ...
FS Micronesia                  1
Tonga                          1
Wallis and Futuna Isds         1
Falkland Isds (Malvinas)       1
Guinea-Bissau                  1
Name: REPORTER, Length: 213, dtype: int64

In [7]:
nuclear_total_df.head(5)

,FLOW,PERIOD,REPORTER,REPORTER ISO2,REPORTER ISO3,QUANTITY KG,VALUE USD
0,Export,12/31/2017,Algeria,DZ,DZA,94831002298,39517164846
1,Export,12/31/2017,Egypt,EG,EGY,45735370832,33513162526
2,Export,12/31/2017,Libya,LY,LBY,43666980822,18175762311
3,Export,12/31/2017,Morocco,MA,MAR,38055569007,33726889681
4,Export,12/31/2017,Tunisia,TN,TUN,9686988135,16508281515

In [8]:
nuclear_total_df.REPORTER.value_counts()

Algeria                  10
Lithuania                10
Rep. of Korea            10
Singapore                10
Sri Lanka                10
                         ..
Nicaragua                10
Panama                   10
Saint Barthélemy         10
Saint Kitts and Nevis    10
Neth. Antilles            1
Name: REPORTER, Length: 227, dtype: int64

In [9]:
nuclear_trade_df = nuclear_trade_df[nuclear_trade_df.PERIOD=='12/31/2021']
nuclear_trade_df = nuclear_trade_df[['REPORTER', 'PARTNER', 'FLOW', 'VALUE USD']]
nuclear_trade_df

               REPORTER        PARTNER    FLOW  VALUE USD
77188           Tunisia          Libya  Export      90412
77189           Tunisia        Algeria  Export        183
77190             Egypt  Cote d'Ivoire  Export       3873
77191             Egypt        Nigeria  Export      30148
77192             Egypt   South Africa  Export       9722
...                 ...            ...     ...        ...
96205              Fiji      Australia  Import       2221
96206  Papua New Guinea      Australia  Import       6242
96207  Papua New Guinea    New Zealand  Import       2759
96208             Samoa    New Zealand  Import        127
96209  Papua New Guinea      Australia  Import       7843

[19022 rows x 4 columns]

In [10]:
table = nuclear_trade_df.sort_values(by='VALUE USD', ascending=False)
table = table[table['FLOW'] == 'Export']

# tsv
tsv_table = table.to_csv(index=False, sep='\t')
with open('table.tsv', 'w') as file:
    file.write(tsv_table)

# html
html_table = table.to_html(index=False)
with open('table.html', 'w') as file:
    file.write(html_table)

In [11]:
table['VALUE USD'] = table['VALUE USD'] / 1000000

table

                 REPORTER         PARTNER    FLOW   VALUE USD
81897  Russian Federation             USA  Export  645.727769
79683          Kazakhstan           China  Export  553.183361
81496         Netherlands             USA  Export  535.093761
83419              Sweden          France  Export  502.099219
78437              Canada  United Kingdom  Export  495.550326
...                   ...             ...     ...         ...
83124             Germany         Romania  Export    0.000001
83894            Slovenia     Netherlands  Export    0.000001
85821             Denmark          Norway  Export    0.000001
85307            Bulgaria     Netherlands  Export    0.000001
83889             Romania     Netherlands  Export    0.000001

[9511 rows x 4 columns]

In [12]:

table['VALUE USD'] = table['VALUE USD'].round(2)

table_json = table.drop('FLOW', axis=1)
# table_json = table_json.rename('VALUE USD', 'VALUE')

tbl_json_data = table_json.to_json(orient='records', indent=4)

with open('table.json', 'w') as f:
    f.write(tbl_json_data)

In [13]:
table_json

                 REPORTER         PARTNER  VALUE USD
81897  Russian Federation             USA     645.73
79683          Kazakhstan           China     553.18
81496         Netherlands             USA     535.09
83419              Sweden          France     502.10
78437              Canada  United Kingdom     495.55
...                   ...             ...        ...
83124             Germany         Romania       0.00
83894            Slovenia     Netherlands       0.00
85821             Denmark          Norway       0.00
85307            Bulgaria     Netherlands       0.00
83889             Romania     Netherlands       0.00

[9511 rows x 3 columns]

In [14]:
nuclear_trade_df['reporter_tot_val'] = nuclear_trade_df.groupby('REPORTER')['VALUE USD'].transform('sum')

min_val = nuclear_trade_df['reporter_tot_val'].min()
max_val = nuclear_trade_df['reporter_tot_val'].max()

# Normalize the 'VALUE USD' column
nuclear_trade_df['reporter_tot_val'] = ((nuclear_trade_df['reporter_tot_val'] - min_val) / (max_val - min_val))

In [15]:
nuclear_trade_df_b = nuclear_trade_df.sort_values(by='VALUE USD', ascending=False)[:500]

In [16]:
# reformat json
# nuclear_trade_df_b = nuclear_trade_df_b.drop_duplicates(['VALUE USD'])
nuclear_trade_df_b.head(20)

,REPORTER,PARTNER,FLOW,VALUE USD,reporter_tot_val
81897,Russian Federation,USA,Export,645727769,0.528183
88521,USA,Russian Federation,Import,645727769,1.000000
79683,Kazakhstan,China,Export,553183361,0.299798
89584,China,Kazakhstan,Import,553183361,0.798014
88329,USA,Netherlands,Import,535093761,1.000000
81496,Netherlands,USA,Export,535093761,0.302899
92889,France,Sweden,Import,502099219,0.594850
83419,Sweden,France,Export,502099219,0.313355
78437,Canada,United Kingdom,Export,495550326,0.679754
91535,United Kingdom,Canada,Import,495550326,0.422148
77379,Namibia,China,Export,489475811,0.114736
88841,China,Namibia,Import,489475811,0.798014
86591,Australia,China,Export,445402275,0.220642
91268,China,Australia,Import,445402275,0.798014
81495,Germany,USA,Export,426967225,0.434813
88328,USA,Germany,Import,426967225,1.000000
87720,USA,Canada,Import,415672712,1.000000
77773,Canada,USA,Export,415672712,0.679754
81499,United Kingdom,USA,Export,393289651,0.422148
88331,USA,United Kingdom,Import,393289651,1.000000

In [17]:
nuclear_trade_df_b[nuclear_trade_df_b['REPORTER']=='USA']

      REPORTER             PARTNER    FLOW  VALUE USD  reporter_tot_val
88521      USA  Russian Federation  Import  645727769               1.0
88329      USA         Netherlands  Import  535093761               1.0
88328      USA             Germany  Import  426967225               1.0
87720      USA              Canada  Import  415672712               1.0
88331      USA      United Kingdom  Import  393289651               1.0
87712      USA              Canada  Import  199999335               1.0
77766      USA              Canada  Export  157275722               1.0
88327      USA              France  Import  150552116               1.0
87714      USA              Canada  Import  144437305               1.0
88436      USA         Netherlands  Import  122484061               1.0
78366      USA               Spain  Export  104820434               1.0
78097      USA       Taiwan, China  Export   97539022               1.0
78094      USA               Japan  Export   97350611               1.0
77774      USA              Canada  Export   70254527               1.0
88509      USA              France  Import   53397551               1.0
87976      USA               Japan  Import   51491555               1.0
78231      USA       Rep. of Korea  Export   50702920               1.0
78224      USA               China  Export   48415478               1.0
78092      USA               China  Export   46229953               1.0
78441      USA             Germany  Export   45811170               1.0
87972      USA               Japan  Import   44788731               1.0
77787      USA              Canada  Export   42192309               1.0
88807      USA           Australia  Import   42086869               1.0
88058      USA               China  Import   40652085               1.0
78289      USA       Rep. of Korea  Export   36928353               1.0
88426      USA             Belgium  Import   34663364               1.0
88431      USA             Germany  Import   31928549               1.0
87706      USA              Canada  Import   28441322               1.0
78664      USA             Ukraine  Export   26722677               1.0
78203      USA               Japan  Export   26500286               1.0
77736      USA              Mexico  Export   25822579               1.0
78442      USA         Netherlands  Export   25188594               1.0
88545      USA  Russian Federation  Import   25002372               1.0
78712      USA              Norway  Export   24482062               1.0
78199      USA               China  Export   23139400               1.0
88041      USA               China  Import   22588078               1.0
77832      USA              Brazil  Export   22325519               1.0
78490      USA              Sweden  Export   20348079               1.0
87978      USA       Taiwan, China  Import   19675165               1.0
88531      USA              Turkey  Import   19228265               1.0
87502      USA        South Africa  Import   19020357               1.0
78465      USA             Germany  Export   18099135               1.0
87999      USA          Kazakhstan  Import   16179574               1.0
88530      USA  Russian Federation  Import   16134695               1.0
88407      USA             Germany  Import   14241357               1.0
78379      USA               Spain  Export   13973472               1.0
78650      USA               Spain  Export   13827174               1.0
87950      USA              Israel  Import   13771955               1.0
78484      USA              France  Export   13248359               1.0
88334      USA             Germany  Import   12762019               1.0
88394      USA      United Kingdom  Import   12423746               1.0
88435      USA               Italy  Import   12060008               1.0
77723      USA          Costa Rica  Export   11741171               1.0
78800      USA           Australia  Export   11654907               1.0
78084      USA               Japan  Export   11227324               1.0
78523      USA             Germany  Export   10155134               1.0
88802      USA           Australia  Import    9512000               1.0

In [18]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

In [19]:
nuclear_trade_df_sampled = nuclear_trade_df_b
nodes_df = pd.DataFrame({'binary': pd.unique(nuclear_trade_df_sampled[['REPORTER', 'PARTNER']].values.ravel('K'))})

network_data = {
    "directed": True,
    "nodes": [],
    "links": [],
    "multigraph": False,
    "graph": []
}

# initiate nodes
for idx, node in nodes_df.iterrows():
    network_data['nodes'].append({
        "id": idx,
        "binary": node['binary'],
        "value": None
    })

# links
for idx, row in nuclear_trade_df_sampled.iterrows():
    source_idx = nodes_df[nodes_df['binary'] == row['REPORTER']].index[0]
    target_idx = nodes_df[nodes_df['binary'] == row['PARTNER']].index[0]

    network_data['links'].append({
        "source": source_idx,
        "target": target_idx
    })

    # set values
    network_data['nodes'][source_idx]['value'] = float(row['reporter_tot_val'])
    # network_data['nodes'][target_idx]['value'] = float(row['reporter_tot_val'])

# node['value'] = nuclear_trade_df_sampled['reporter_tot_val']
# print(node)
nodes = network_data['nodes']

# dictionary to store the sampled nodes and links
sampled_network_data = {
    "directed": network_data["directed"],
    "nodes": nodes,
    "links": [],
    "multigraph": network_data["multigraph"],
    "graph": network_data["graph"]
}

node_id_mapping = {node["id"]: idx for idx, node in enumerate(nodes)}

# re-index
for node in sampled_network_data["nodes"]:
    old_id = node["id"]
    new_id = node_id_mapping[old_id]
    node["id"] = new_id

for link in network_data["links"]:
    source_id = link["source"]
    target_id = link["target"]

    if source_id in node_id_mapping and target_id in node_id_mapping:
    #     new_source_id = node_id_mapping[source_id]
    #     new_target_id = node_id_mapping[target_id]
    #     sampled_network_data["links"].append({
    #         "source": new_source_id,
    #         "target": new_target_id
    #     })

        sampled_network_data["links"].append({
                "source": node_id_mapping[source_id],
                "target": node_id_mapping[target_id]
            })

json_data = json.dumps(sampled_network_data, indent=4, ensure_ascii=False, separators=(",", ": "), cls=NpEncoder)

with open('data/network_data_sampled.json', 'w') as f:
    f.write(json_data)

In [20]:
sampled_network_data

{'directed': True,
 'nodes': [{'id': 0,
   'binary': 'Russian Federation',
   'value': 0.5281828374425815},
  {'id': 1, 'binary': 'USA', 'value': 1.0},
  {'id': 2, 'binary': 'Kazakhstan', 'value': 0.2997978422835999},
  {'id': 3, 'binary': 'China', 'value': 0.7980141914183071},
  {'id': 4, 'binary': 'Netherlands', 'value': 0.3028991835045116},
  {'id': 5, 'binary': 'France', 'value': 0.5948502291057869},
  {'id': 6, 'binary': 'Sweden', 'value': 0.31335532905803376},
  {'id': 7, 'binary': 'Canada', 'value': 0.6797536816534675},
  {'id': 8, 'binary': 'United Kingdom', 'value': 0.4221480348701019},
  {'id': 9, 'binary': 'Namibia', 'value': 0.11473634623340287},
  {'id': 10, 'binary': 'Australia', 'value': 0.22064163420144003},
  {'id': 11, 'binary': 'Germany', 'value': 0.4348134487280387},
  {'id': 12, 'binary': 'Rep. of Korea', 'value': 0.40628851594107196},
  {'id': 13, 'binary': 'Ukraine', 'value': 0.09583152461137079},
  {'id': 14, 'binary': 'Spain', 'value': 0.1569064355984092},
  {'id': 15, 'binary': 'Pakistan', 'value': 0.049449002538191504},
  {'id': 16, 'binary': 'Belarus', 'value': 0.04292859270890456},
  {'id': 17, 'binary': 'Uzbekistan', 'value': 0.07831296056951355},
  {'id': 18, 'binary': 'Niger', 'value': 0.06356391415519365},
  {'id': 19, 'binary': 'United Arab Emirates', 'value': 0.046964934705701324},
  {'id': 20, 'binary': 'Japan', 'value': 0.20840309762218448},
  {'id': 21, 'binary': 'Czech Rep.', 'value': 0.04293345404321736},
  {'id': 22, 'binary': 'Taiwan, China', 'value': 0.075389695476104},
  {'id': 23, 'binary': 'Bangladesh', 'value': 0.019884441771419566},
  {'id': 24, 'binary': 'Finland', 'value': 0.0569571382463833},
  {'id': 25, 'binary': 'Bulgaria', 'value': 0.014927560813396806},
  {'id': 26, 'binary': 'Thailand', 'value': 0.023134276362191494},
  {'id': 27, 'binary': 'India', 'value': 0.024492670234225713},
  {'id': 28, 'binary': 'Slovakia', 'value': 0.013976276489304402},
  {'id': 29, 'binary': 'Switzerland', 'value': 0.03186944130416795},
  {'id': 30, 'binary': 'Hungary', 'value': 0.016344341561163232},
  {'id': 31, 'binary': 'Belgium', 'value': 0.07499986457465706},
  {'id': 32, 'binary': 'Norway', 'value': 0.026437773980099343},
  {'id': 33, 'binary': 'Turkey', 'value': 0.03017448373663609},
  {'id': 34, 'binary': 'Israel', 'value': 0.026872980330880557},
  {'id': 35, 'binary': 'Greece', 'value': 0.011504605699892052},
  {'id': 36, 'binary': 'South Africa', 'value': 0.03382590301470004},
  {'id': 37, 'binary': 'Bahrain', 'value': 0.0071268579862992605},
  {'id': 38, 'binary': 'Saudi Arabia', 'value': 0.009485607301361052},
  {'id': 39, 'binary': 'Armenia', 'value': 0.006000443056230662},
  {'id': 40, 'binary': 'Nigeria', 'value': 0.006710453906754472},
  {'id': 41, 'binary': 'Mexico', 'value': 0.01397768041160014},
  {'id': 42, 'binary': 'Brazil', 'value': 0.032876937208427826},
  {'id': 43, 'binary': 'Madagascar', 'value': 0.0050224639394149525},
  {'id': 44, 'binary': 'Romania', 'value': 0.013499430896998291},
  {'id': 45, 'binary': 'Georgia', 'value': 0.003985832536332236},
  {'id': 46, 'binary': 'Italy', 'value': 0.03963442767497463},
  {'id': 47, 'binary': 'Argentina', 'value': 0.00891509989931202},
  {'id': 48, 'binary': 'Guyana', 'value': 0.0024116922153432094},
  {'id': 49, 'binary': 'Costa Rica', 'value': 0.0031581566674112305},
  {'id': 50, 'binary': 'Singapore', 'value': 0.015455155462277027},
  {'id': 51, 'binary': 'Malaysia', 'value': 0.0107327417655926},
  {'id': 52, 'binary': 'Iran', 'value': 0.0039007288778107976},
  {'id': 53, 'binary': 'Qatar', 'value': 0.00211060002592384}],
 'links': [{'source': 0, 'target': 1},
  {'source': 1, 'target': 0},
  {'source': 2, 'target': 3},
  {'source': 3, 'target': 2},
  {'source': 1, 'target': 4},
  {'source': 4, 'target': 1},
  {'source': 5, 'target': 6},
  {'source': 6, 'target': 5},
  {'source': 7, 'target': 8},
  {'source': 8, 'target': 7},
  {'source': 9, 'target': 3},
  {'source': 3, 'target': 9},
  {'source': 10, 'target': 3},
  {'source': 3, 'target': 10},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 11},
  {'source': 1, 'target': 7},
  {'source': 7, 'target': 1},
  {'source': 8, 'target': 1},
  {'source': 1, 'target': 8},
  {'source': 12, 'target': 2},
  {'source': 2, 'target': 12},
  {'source': 2, 'target': 7},
  {'source': 7, 'target': 2},
  {'source': 7, 'target': 10},
  {'source': 10, 'target': 7},
  {'source': 6, 'target': 13},
  {'source': 13, 'target': 6},
  {'source': 14, 'target': 8},
  {'source': 8, 'target': 14},
  {'source': 0, 'target': 12},
  {'source': 12, 'target': 0},
  {'source': 6, 'target': 0},
  {'source': 0, 'target': 6},
  {'source': 15, 'target': 3},
  {'source': 3, 'target': 15},
  {'source': 5, 'target': 12},
  {'source': 12, 'target': 5},
  {'source': 0, 'target': 16},
  {'source': 16, 'target': 0},
  {'source': 1, 'target': 7},
  {'source': 7, 'target': 1},
  {'source': 7, 'target': 17},
  {'source': 17, 'target': 7},
  {'source': 7, 'target': 11},
  {'source': 11, 'target': 7},
  {'source': 5, 'target': 18},
  {'source': 18, 'target': 5},
  {'source': 12, 'target': 19},
  {'source': 19, 'target': 12},
  {'source': 10, 'target': 12},
  {'source': 12, 'target': 10},
  {'source': 20, 'target': 5},
  {'source': 5, 'target': 20},
  {'source': 1, 'target': 7},
  {'source': 7, 'target': 1},
  {'source': 8, 'target': 5},
  {'source': 5, 'target': 8},
  {'source': 5, 'target': 1},
  {'source': 1, 'target': 5},
  {'source': 0, 'target': 13},
  {'source': 13, 'target': 0},
  {'source': 1, 'target': 7},
  {'source': 7, 'target': 1},
  {'source': 0, 'target': 21},
  {'source': 21, 'target': 0},
  {'source': 12, 'target': 20},
  {'source': 20, 'target': 12},
  {'source': 7, 'target': 4},
  {'source': 4, 'target': 7},
  {'source': 5, 'target': 3},
  {'source': 3, 'target': 5},
  {'source': 4, 'target': 1},
  {'source': 1, 'target': 4},
  {'source': 14, 'target': 5},
  {'source': 5, 'target': 14},
  {'source': 3, 'target': 20},
  {'source': 20, 'target': 3},
  {'source': 0, 'target': 5},
  {'source': 5, 'target': 0},
  {'source': 3, 'target': 17},
  {'source': 17, 'target': 3},
  {'source': 14, 'target': 1},
  {'source': 1, 'target': 14},
  {'source': 5, 'target': 11},
  {'source': 11, 'target': 5},
  {'source': 4, 'target': 12},
  {'source': 12, 'target': 4},
  {'source': 8, 'target': 5},
  {'source': 5, 'target': 8},
  {'source': 8, 'target': 6},
  {'source': 6, 'target': 8},
  {'source': 1, 'target': 22},
  {'source': 22, 'target': 1},
  {'source': 1, 'target': 20},
  {'source': 20, 'target': 1},
  {'source': 17, 'target': 5},
  {'source': 5, 'target': 17},
  {'source': 0, 'target': 23},
  {'source': 23, 'target': 0},
  {'source': 12, 'target': 3},
  {'source': 3, 'target': 12},
  {'source': 10, 'target': 5},
  {'source': 5, 'target': 10},
  {'source': 2, 'target': 5},
  {'source': 5, 'target': 2},
  {'source': 6, 'target': 11},
  {'source': 11, 'target': 6},
  {'source': 14, 'target': 6},
  {'source': 6, 'target': 14},
  {'source': 8, 'target': 11},
  {'source': 11, 'target': 8},
  {'source': 5, 'target': 9},
  {'source': 9, 'target': 5},
  {'source': 7, 'target': 22},
  {'source': 22, 'target': 7},
  {'source': 3, 'target': 7},
  {'source': 7, 'target': 3},
  {'source': 7, 'target': 1},
  {'source': 1, 'target': 7},
  {'source': 24, 'target': 11},
  {'source': 11, 'target': 24},
  {'source': 20, 'target': 7},
  {'source': 7, 'target': 20},
  {'source': 5, 'target': 8},
  {'source': 8, 'target': 5},
  {'source': 25, 'target': 0},
  {'source': 0, 'target': 25},
  {'source': 3, 'target': 0},
  {'source': 0, 'target': 3},
  {'source': 11, 'target': 3},
  {'source': 3, 'target': 11},
  {'source': 2, 'target': 3},
  {'source': 3, 'target': 2},
  {'source': 4, 'target': 11},
  {'source': 11, 'target': 4},
  {'source': 12, 'target': 3},
  {'source': 3, 'target': 12},
  {'source': 18, 'target': 7},
  {'source': 7, 'target': 18},
  {'source': 3, 'target': 26},
  {'source': 26, 'target': 3},
  {'source': 3, 'target': 27},
  {'source': 27, 'target': 3},
  {'source': 28, 'target': 0},
  {'source': 0, 'target': 28},
  {'source': 11, 'target': 29},
  {'source': 29, 'target': 11},
  {'source': 11, 'target': 6},
  {'source': 6, 'target': 11},
  {'source': 1, 'target': 5},
  {'source': 5, 'target': 1},
  {'source': 11, 'target': 5},
  {'source': 5, 'target': 11},
  {'source': 30, 'target': 0},
  {'source': 0, 'target': 30},
  {'source': 0, 'target': 11},
  {'source': 11, 'target': 0},
  {'source': 1, 'target': 20},
  {'source': 20, 'target': 1},
  {'source': 1, 'target': 12},
  {'source': 12, 'target': 1},
  {'source': 8, 'target': 12},
  {'source': 12, 'target': 8},
  {'source': 1, 'target': 3},
  {'source': 3, 'target': 1},
  {'source': 31, 'target': 14},
  {'source': 14, 'target': 31},
  {'source': 3, 'target': 19},
  {'source': 19, 'target': 3},
  {'source': 32, 'target': 3},
  {'source': 3, 'target': 32},
  {'source': 3, 'target': 1},
  {'source': 1, 'target': 3},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 11},
  {'source': 33, 'target': 0},
  {'source': 0, 'target': 33},
  {'source': 20, 'target': 1},
  {'source': 1, 'target': 20},
  {'source': 12, 'target': 18},
  {'source': 18, 'target': 12},
  {'source': 3, 'target': 34},
  {'source': 34, 'target': 3},
  {'source': 6, 'target': 11},
  {'source': 11, 'target': 6},
  {'source': 11, 'target': 8},
  {'source': 8, 'target': 11},
  {'source': 7, 'target': 1},
  {'source': 1, 'target': 7},
  {'source': 10, 'target': 1},
  {'source': 1, 'target': 10},
  {'source': 3, 'target': 8},
  {'source': 8, 'target': 3},
  {'source': 3, 'target': 1},
  {'source': 1, 'target': 3},
  {'source': 11, 'target': 3},
  {'source': 3, 'target': 11},
  {'source': 0, 'target': 24},
  {'source': 24, 'target': 0},
  {'source': 24, 'target': 14},
  {'source': 14, 'target': 24},
  {'source': 12, 'target': 1},
  {'source': 1, 'target': 12},
  {'source': 6, 'target': 24},
  {'source': 24, 'target': 6},
  {'source': 3, 'target': 35},
  {'source': 35, 'target': 3},
  {'source': 36, 'target': 5},
  {'source': 5, 'target': 36},
  {'source': 3, 'target': 2},
  {'source': 2, 'target': 3},
  {'source': 4, 'target': 6},
  {'source': 6, 'target': 4},
  {'source': 9, 'target': 7},
  {'source': 7, 'target': 9},
  {'source': 18, 'target': 7},
  {'source': 7, 'target': 18},
  {'source': 3, 'target': 0},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 37},
  {'source': 37, 'target': 3},
  {'source': 5, 'target': 11},
  {'source': 11, 'target': 5},
  {'source': 1, 'target': 31},
  {'source': 31, 'target': 1},
  {'source': 24, 'target': 22},
  {'source': 22, 'target': 24},
  {'source': 0, 'target': 13},
  {'source': 13, 'target': 0},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 0},
  {'source': 5, 'target': 6},
  {'source': 6, 'target': 5},
  {'source': 1, 'target': 11},
  {'source': 11, 'target': 1},
  {'source': 7, 'target': 12},
  {'source': 12, 'target': 7},
  {'source': 11, 'target': 4},
  {'source': 4, 'target': 11},
  {'source': 38, 'target': 3},
  {'source': 3, 'target': 38},
  {'source': 7, 'target': 3},
  {'source': 3, 'target': 7},
  {'source': 4, 'target': 8},
  {'source': 8, 'target': 4},
  {'source': 0, 'target': 2},
  {'source': 2, 'target': 0},
  {'source': 1, 'target': 7},
  {'source': 7, 'target': 1},
  {'source': 29, 'target': 0},
  {'source': 0, 'target': 29},
  {'source': 39, 'target': 0},
  {'source': 0, 'target': 39},
  {'source': 31, 'target': 11},
  {'source': 11, 'target': 31},
  {'source': 40, 'target': 3},
  {'source': 3, 'target': 40},
  {'source': 13, 'target': 1},
  {'source': 1, 'target': 13},
  {'source': 20, 'target': 1},
  {'source': 1, 'target': 20},
  {'source': 4, 'target': 5},
  {'source': 5, 'target': 4},
  {'source': 1, 'target': 41},
  {'source': 41, 'target': 1},
  {'source': 20, 'target': 3},
  {'source': 3, 'target': 20},
  {'source': 1, 'target': 4},
  {'source': 4, 'target': 1},
  {'source': 15, 'target': 3},
  {'source': 3, 'target': 15},
  {'source': 0, 'target': 1},
  {'source': 1, 'target': 0},
  {'source': 42, 'target': 7},
  {'source': 7, 'target': 42},
  {'source': 32, 'target': 1},
  {'source': 1, 'target': 32},
  {'source': 5, 'target': 0},
  {'source': 0, 'target': 5},
  {'source': 3, 'target': 26},
  {'source': 26, 'target': 3},
  {'source': 3, 'target': 43},
  {'source': 43, 'target': 3},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 0},
  {'source': 44, 'target': 7},
  {'source': 7, 'target': 44},
  {'source': 1, 'target': 3},
  {'source': 3, 'target': 1},
  {'source': 8, 'target': 7},
  {'source': 7, 'target': 8},
  {'source': 3, 'target': 22},
  {'source': 22, 'target': 3},
  {'source': 5, 'target': 4},
  {'source': 4, 'target': 5},
  {'source': 3, 'target': 1},
  {'source': 1, 'target': 3},
  {'source': 42, 'target': 1},
  {'source': 1, 'target': 42},
  {'source': 20, 'target': 12},
  {'source': 12, 'target': 20},
  {'source': 8, 'target': 20},
  {'source': 20, 'target': 8},
  {'source': 31, 'target': 4},
  {'source': 4, 'target': 31},
  {'source': 11, 'target': 14},
  {'source': 14, 'target': 11},
  {'source': 22, 'target': 3},
  {'source': 3, 'target': 22},
  {'source': 14, 'target': 31},
  {'source': 31, 'target': 14},
  {'source': 4, 'target': 8},
  {'source': 8, 'target': 4},
  {'source': 11, 'target': 5},
  {'source': 5, 'target': 11},
  {'source': 6, 'target': 1},
  {'source': 1, 'target': 6},
  {'source': 11, 'target': 12},
  {'source': 12, 'target': 11},
  {'source': 44, 'target': 45},
  {'source': 45, 'target': 44},
  {'source': 1, 'target': 22},
  {'source': 22, 'target': 1},
  {'source': 46, 'target': 3},
  {'source': 3, 'target': 46},
  {'source': 4, 'target': 3},
  {'source': 3, 'target': 4},
  {'source': 33, 'target': 1},
  {'source': 1, 'target': 33},
  {'source': 1, 'target': 36},
  {'source': 36, 'target': 1},
  {'source': 3, 'target': 24},
  {'source': 24, 'target': 3},
  {'source': 12, 'target': 7},
  {'source': 7, 'target': 12},
  {'source': 47, 'target': 2},
  {'source': 2, 'target': 47},
  {'source': 46, 'target': 4},
  {'source': 4, 'target': 46},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 11},
  {'source': 8, 'target': 5},
  {'source': 5, 'target': 8},
  {'source': 24, 'target': 12},
  {'source': 12, 'target': 24},
  {'source': 8, 'target': 20},
  {'source': 20, 'target': 8},
  {'source': 8, 'target': 22},
  {'source': 22, 'target': 8},
  {'source': 31, 'target': 20},
  {'source': 20, 'target': 31},
  {'source': 3, 'target': 33},
  {'source': 33, 'target': 3},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 0},
  {'source': 14, 'target': 4},
  {'source': 4, 'target': 14},
  {'source': 6, 'target': 8},
  {'source': 8, 'target': 6},
  {'source': 2, 'target': 1},
  {'source': 1, 'target': 2},
  {'source': 1, 'target': 0},
  {'source': 0, 'target': 1},
  {'source': 7, 'target': 12},
  {'source': 12, 'target': 7},
  {'source': 11, 'target': 8},
  {'source': 8, 'target': 11},
  {'source': 20, 'target': 12},
  {'source': 12, 'target': 20},
  {'source': 11, 'target': 4},
  {'source': 4, 'target': 11},
  {'source': 4, 'target': 6},
  {'source': 6, 'target': 4},
  {'source': 36, 'target': 7},
  {'source': 7, 'target': 36},
  {'source': 5, 'target': 20},
  {'source': 20, 'target': 5},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 0},
  {'source': 3, 'target': 20},
  {'source': 20, 'target': 3},
  {'source': 5, 'target': 3},
  {'source': 3, 'target': 5},
  {'source': 42, 'target': 8},
  {'source': 8, 'target': 42},
  {'source': 0, 'target': 3},
  {'source': 3, 'target': 0},
  {'source': 36, 'target': 3},
  {'source': 3, 'target': 36},
  {'source': 1, 'target': 11},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 14},
  {'source': 14, 'target': 1},
  {'source': 14, 'target': 1},
  {'source': 1, 'target': 14},
  {'source': 1, 'target': 34},
  {'source': 34, 'target': 1},
  {'source': 36, 'target': 3},
  {'source': 3, 'target': 36},
  {'source': 11, 'target': 0},
  {'source': 0, 'target': 11},
  {'source': 13, 'target': 0},
  {'source': 0, 'target': 13},
  {'source': 20, 'target': 22},
  {'source': 22, 'target': 20},
  {'source': 0, 'target': 7},
  {'source': 7, 'target': 0},
  {'source': 3, 'target': 11},
  {'source': 11, 'target': 3},
  {'source': 1, 'target': 5},
  {'source': 5, 'target': 1},
  {'source': 7, 'target': 20},
  {'source': 20, 'target': 7},
  {'source': 12, 'target': 3},
  {'source': 3, 'target': 12},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 11},
  {'source': 8, 'target': 1},
  {'source': 1, 'target': 8},
  {'source': 4, 'target': 20},
  {'source': 20, 'target': 4},
  {'source': 48, 'target': 36},
  {'source': 36, 'target': 48},
  {'source': 46, 'target': 1},
  {'source': 1, 'target': 46},
  {'source': 42, 'target': 4},
  {'source': 4, 'target': 42},
  {'source': 22, 'target': 3},
  {'source': 3, 'target': 22},
  {'source': 11, 'target': 5},
  {'source': 5, 'target': 11},
  {'source': 22, 'target': 20},
  {'source': 20, 'target': 22},
  {'source': 5, 'target': 7},
  {'source': 7, 'target': 5},
  {'source': 4, 'target': 32},
  {'source': 32, 'target': 4},
  {'source': 7, 'target': 12},
  {'source': 12, 'target': 7},
  {'source': 49, 'target': 1},
  {'source': 1, 'target': 49},
  {'source': 1, 'target': 10},
  {'source': 10, 'target': 1},
  {'source': 50, 'target': 20},
  {'source': 20, 'target': 50},
  {'source': 31, 'target': 8},
  {'source': 8, 'target': 31},
  {'source': 51, 'target': 20},
  {'source': 20, 'target': 51},
  {'source': 5, 'target': 31},
  {'source': 31, 'target': 5},
  {'source': 5, 'target': 12},
  {'source': 12, 'target': 5},
  {'source': 1, 'target': 20},
  {'source': 20, 'target': 1},
  {'source': 42, 'target': 34},
  {'source': 34, 'target': 42},
  {'source': 46, 'target': 0},
  {'source': 0, 'target': 46},
  {'source': 3, 'target': 7},
  {'source': 7, 'target': 3},
  {'source': 4, 'target': 11},
  {'source': 11, 'target': 4},
  {'source': 4, 'target': 0},
  {'source': 0, 'target': 4},
  {'source': 3, 'target': 20},
  {'source': 20, 'target': 3},
  {'source': 46, 'target': 8},
  {'source': 8, 'target': 46},
  {'source': 3, 'target': 11},
  {'source': 11, 'target': 3},
  {'source': 5, 'target': 31},
  {'source': 31, 'target': 5},
  {'source': 46, 'target': 11},
  {'source': 11, 'target': 46},
  {'source': 11, 'target': 1},
  {'source': 1, 'target': 11},
  {'source': 5, 'target': 10},
  {'source': 10, 'target': 5},
  {'source': 52, 'target': 3},
  {'source': 3, 'target': 52},
  {'source': 5, 'target': 4},
  {'source': 4, 'target': 5},
  {'source': 5, 'target': 11},
  {'source': 11, 'target': 5},
  {'source': 3, 'target': 22},
  {'source': 22, 'target': 3},
  {'source': 12, 'target': 4},
  {'source': 4, 'target': 12},
  {'source': 1, 'target': 10},
  {'source': 10, 'target': 1},
  {'source': 3, 'target': 53},
  {'source': 53, 'target': 3},
  {'source': 7, 'target': 12},
  {'source': 12, 'target': 7},
  {'source': 4, 'target': 31},
  {'source': 31, 'target': 4},
  {'source': 7, 'target': 11},
  {'source': 11, 'target': 7}],
 'multigraph': False,
 'graph': []}